In [1]:
import pandas as pd

In [2]:
glass_data = pd.read_csv('glass.data')

In [3]:
glass_data

     index       RI     Na    Mg    Al     Si     K    Ca    Ba   Fe  Class
0        1  1.52101  13.64  4.49  1.10  71.78  0.06  8.75  0.00  0.0      1
1        2  1.51761  13.89  3.60  1.36  72.73  0.48  7.83  0.00  0.0      1
2        3  1.51618  13.53  3.55  1.54  72.99  0.39  7.78  0.00  0.0      1
3        4  1.51766  13.21  3.69  1.29  72.61  0.57  8.22  0.00  0.0      1
4        5  1.51742  13.27  3.62  1.24  73.08  0.55  8.07  0.00  0.0      1
..     ...      ...    ...   ...   ...    ...   ...   ...   ...  ...    ...
209    210  1.51623  14.14  0.00  2.88  72.61  0.08  9.18  1.06  0.0      7
210    211  1.51685  14.92  0.00  1.99  73.06  0.00  8.40  1.59  0.0      7
211    212  1.52065  14.36  0.00  2.02  73.42  0.00  8.44  1.64  0.0      7
212    213  1.51651  14.38  0.00  1.94  73.61  0.00  8.48  1.57  0.0      7
213    214  1.51711  14.23  0.00  2.08  73.36  0.00  8.62  1.67  0.0      7

[214 rows x 11 columns]

In [4]:
# converting a dataframe to a list of dictionaries of the records
glass_dict = glass_data.to_dict(orient='records')

In [5]:
type(glass_dict)

list

In [6]:
from pprint import pprint
#printer = pprint.PrettyPrinter()

In [7]:
for i in glass_dict:
    pprint(i) 
    break

{'Al': 1.1,
 'Ba': 0.0,
 'Ca': 8.75,
 'Class': 1,
 'Fe': 0.0,
 'K': 0.06,
 'Mg': 4.49,
 'Na': 13.64,
 'RI': 1.52101,
 'Si': 71.78,
 'index': 1}

In [8]:
import pymongo

In [9]:
# establishing connection with mongodb cluster
cluster = "mongodb+srv://<id>:<password>@cluster0.2hdi0a7.mongodb.net/?retryWrites=true&w=majority"
client = pymongo.MongoClient(cluster)
db_list = client.list_database_names()
print(db_list)

['glass_db', 'new', 'production', 'admin', 'local']

In [10]:
if "glass_db" in db_list:
    print('Database glass_db available')
    glass_db = client.glass_db
    print("selecting existing database glass_db")
else:
    print("Database glass_db not available")
    glass_db = client.glass_db
    print("Created database glass_db")

Database glass_db available
selecting existing database glass_db

In [11]:
glass_db.list_collection_names()

['glass_collection']

In [12]:
if 'glass_collection'in glass_db.list_collection_names():
    glass_db.glass_collection.drop()
    print('Dropped glass_connection')

print("recreating glass_collection.....")
glass_collection = glass_db.glass_collection
print("glass_collection recreated !")

Dropped glass_connection
recreating glass_collection.....
glass_collection recreated !

In [13]:
# inserting glass data into a collection
glass_collection.insert_many(glass_dict)

In [14]:
for i in glass_collection.find():
    pprint(i,indent=5)
    break

{    'Al': 1.1,
     'Ba': 0.0,
     'Ca': 8.75,
     'Class': 1,
     'Fe': 0.0,
     'K': 0.06,
     'Mg': 4.49,
     'Na': 13.64,
     'RI': 1.52101,
     'Si': 71.78,
     '_id': ObjectId('63c62cf5c3835a2030c45a63'),
     'index': 1}